body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100%;
  width: 100vw;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Jost', sans-serif;
}

/* since the navbar is fixed we need to add some space to the body */
body {
  padding-top: 56px;
}

.modal-login {
  width: 320px;
}
.modal-login .modal-content {
  border-radius: 1px;
  border: none;
}
.modal-login .modal-header {
  position: relative;
  justify-content: center;
  background: #f2f2f2;
}
.modal-login .modal-body {
  padding: 30px;
}
.modal-login .modal-footer {
  background: #f2f2f2;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login label {
  font-weight: normal;
  font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 38px;
  border-radius: 2px;
}
.modal-login .hint-text {
  text-align: center;
}
.modal-login .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal-login .checkbox-inline {
  margin-top: 12px;
}
.modal-login input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.modal-login .btn {
  min-width: 100px;
  background: #3498db;
  border: none;
  line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #248bd0;
}
.modal-login .hint-text a {
  color: #999;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.offcanvas-collapse {
  position: fixed;
  top: 56px; /* Height of navbar */
  bottom: 0;
  right: 100%;
  left:-300px;
  width: 300px;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #343a40;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: left, visibility;
}

.offcanvas-collapse {
  align-items:start;
  /*   Adds a subtle drop shadow   */
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  border-right:5px solid rgba(0, 0, 0, 0.2);

}




/* Makes the nav visibile with the open class */
.offcanvas-collapse.open {
  left: 0;
  visibility: visible;
}


.navbar-expand-lg .navbar-nav {
  -ms-flex-direction: column;
  flex-direction: column;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.slidecontainer {
  color: black;
}

.accordion-item .accordion-button {
  background-color: mintcream;
}

.accordion-header {
  background-color: mintcream;
}

.filterButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: mintcream;
}

#navToggle {
  display: flex;
  align-items: flex-end;
  padding-right: 5px
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-toggler-icon {
  padding: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  align-content: center;
}

.custom-button {
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 3px;
  border-color: #96f97b
}

.leaflet-popup-content-wrapper {
  font-family: 'Jost', sans-serif;

}

.card-header {
  background-color: #c5e8ef;
}

.card-body{
  background-color: mintcream;
}